<% include Employee_Section/emp_header.ejs %>
<%- messages('Web_Sections/message.ejs',locals)  %>


DashBoard
views\Employee_Section

<div id="contactList" class="col-lg-4">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
    data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
<script>
    var response = JSON.parse('<%-JSON.stringify(response)%>')
    console.log(response)
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>


<% include Employee_Section/emp_footer.ejs %>