<% include Employee_Section/emp_header.ejs %>
<%- messages('Web_Sections/message.ejs',locals)  %>

<div class="makeCallHeading">
    <h3>Make Call & Earn</h3>
</div>

<div class="col-lg-12 row" id="heading_contactList">
    <div class="row headingContactList row">
        <div class="col">
            <h4>Contact List</h4>
        </div>
        <div>
            <button onclick="addContacts_ajaxCall()" type="button" class="btn btn-dark">Add Contacts </button>
        </div>
    </div>
    <div class="col customerDetails">
        <h4>Customer Details</h4>
    </div>
</div>







<div class="col-lg-2" id="contactsOfCustomer">
    <ul class="list-group list-group-flush " id="contactList_UL">
        <% response.forEach((element,count) => { %>
        <li class="list-group-item"><a type="button" class="btn btn-success" id="<%=element.contact_ID  %>"
                onclick="callbtn(this.id)">Call</a> </li>
        <% }) %>
    </ul>
</div>




<div class="col-lg-9" id="contactInfo" >
    <div class="card">
        <div class="timerCount card-header">
            <h5 id="contactInfo_heading"></h5>

            <div class="counter">
                <span id="s_seconds"> 00</span>
                <p>Second: </p>
                <span id="s_minutes">00</span>
                <p>Minute: </p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-success" id="interestedBTN"
                        onclick="interestedBTN_onclick(this.value)">Interested</a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-danger" id="notInterestedBTN" onclick="notInterestedBTN_onclick(this.value)">Not
                        Interested</a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a class="btn btn-secondary" id="callbackBTN" onclick="callBackBTN_onclick()">Callback</a>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <a class="btn btn-warning" id="laterBTN" onclick="laterBTN_onclick()">Later</a>
                </div>
            </div>
        </div>
    </div>
</div>






<script>

    var response = JSON.parse('<%-JSON.stringify(response)%>')

    console.log(response);


    function callbtn(id) {
        startStopwatch()
        $('#contactInfo_heading').html(id)
        $('#interestedBTN').val(id)
        console.log($('#interestedBTN').val())
    }
    function interestedBTN_onclick(value) {
        stopStopwatch()
        console.log(value);
    }
    function notInterestedBTN_onclick(value) {
        stopStopwatch()
        console.log($('#s_minutes').html())
        console.log($('#s_seconds').html())
        console.log(value);
    }

    function addContacts_ajaxCall() {
        var contactList = document.getElementById('contactList_UL')
        $.ajax({
            url: '/addContacts_to_List',
            type: 'GET',
            success: ((result) => {
                if (result.response.length > 0) {
                    result.response.forEach(element => {
                        var li = document.createElement('li')
                        li.className = 'list-group-item'
                        li.id = element.contact_ID
                        li.innerHTML = `<a type="button" class="btn btn-success"
                id="${element.contact_ID}" onclick="callbtn(this.id)">Call</a>`
                        contactList.append(li)
                    });

                }
            })
        })
    }


</script>



<script>

    let offset = 0,
        paused = true;

    render();

    function startStopwatch(evt) {
        if (paused) {
            paused = false;
            offset -= Date.now();
            render();
        }
    }

    function stopStopwatch(evt) {
        if (!paused) {
            paused = true;
            offset += Date.now();
        }
    }

    function resetStopwatch(evt) {
        if (paused) {
            offset = 0;
            render();
        } else {
            offset = -Date.now();
        }
    }

    function format(value, scale, modulo, padding) {
        value = Math.floor(value / scale) % modulo;
        return value.toString().padStart(padding, 0);
    }

    function render() {
        var value = paused ? offset : Date.now() + offset;
        document.querySelector('#s_seconds').textContent = format(value, 1000, 60, 2);
        document.querySelector('#s_minutes').textContent = format(value, 60000, 60, 2);

        if (!paused) {
            requestAnimationFrame(render);
        }
    }
</script>











































































<!-- <a id="cart-popover" class="btn" role="button" data-placement="right">

    <button type="button" class="btn btn-dark">Dark</button>
</a>

<div class="popover_title" style="display: none">
    <h6>Shopping Cart<span class="close-popover float-right text-danger "><i class="fas fa-times"></i></span></h6>
</div>
<div id="popover_content_wrapper" style="display: none">
    <span id="cart_details"></span>

    <div align="right">
        <a href="#" class="btn btn-primary" id="check_out_cart">
            <i class="fa fa-shopping-cart"></i> Check Out
        </a>
        <a href="#" class="btn btn-danger" id="clear_cart">
            <i class="fa fa-trash"></i> Clear
        </a>
    </div>
</div> -->





<!-- <script>
    $(document).ready(function () {
        $('#cart-popover').popover({
            html: true,
            title: function () {
                return $(' <h6>Shopping Cart<span class="close-popover float-right text-danger "><i class="fas fa-times"></i></span></h6>')
            },
            content: function () {
                return $(` <span id="cart_details"></span>
                           <div align="right">
                               <a href="#" class="btn btn-primary" id="check_out_cart">
                                   <i class="fa fa-shopping-cart"></i> Check Out
                               </a>
                               <a href="#" class="btn btn-danger" id="clear_cart">
                                   <i class="fa fa-trash"></i> Clear
                               </a>
                           </div>`)
            }

        });

    });

    $(document).on('click', '.close-popover', function () {
        $('#cart-popover').popover('hide');
    });
</script> -->

<% include Employee_Section/emp_footer.ejs %>