/* 
**************************************** header.EJS file  ***************************************** */

#mainLogo {
  margin: 45px 0px 0px 15px;
  width: 70px;
  height:70px;
}

/* 
**************************************** footer.EJS file  ***************************************** */

.footer {
  margin: 200px 0px 0px 0px;
  padding: 100px;
  background-color: #292929;
}

/* 
**************************************** login.EJS file  ***************************************** */

.login_form_div {
  margin: 50px 0px 0px 120px;
  padding: 10px 0px 0px 0px;
}

.container h3 {
  margin: 0px 0px 10px 335px;
}

.login_form_div input {
  width: 75%;
}

.login_form_div label:after {
  content: " *";
  color: red;
}

.Login_Button {
  padding: 50px 0px 10px 10px;
}

.Login_Button button {
  width: 100px;
  text-align-last: center;
  margin: 0px 0px 0px 220px;
  background-color: #292929;
}

.Login_Button button:hover {
  background-color: #4d2727;
}

.req.flash_messages_div {
  width: 25%;
}

#show_password_image {
  margin: -75px 0px -10px 550px;
}

/* 
**************************************** Home Page .EJS file  ***************************************** */

.homePage_Div {
  padding: 0px 0px 20px 0px;
}

.Homecontainer {
  width: 100%;
  margin: 50px 0px 0px 450px;
  text-align: justify;
  padding: 10px 0px 0px 0px;
}

.Homecontainer h3 {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

/* 
**************************************** Sign Up Page .EJS file  ***************************************** */

.signUP_text {
  margin: 50px 0px 10px 0px;
}

.navigationBar {
  width: 20%;
  float: right;
}

/* 
**************************************** Sign Up Page .EJS file  ***************************************** */

.user_Profile {
  margin: 50px 0px 10px 0px;
}

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */