/* 
**************************************** header.EJS file  ***************************************** */

#mainLogo {
  margin: 45px 0px 0px 45px;
  width: 70px;
  height: 70px;
}

/* 
**************************************** footer.EJS file  ***************************************** */

.footer {
  margin: 200px 0px 0px 0px;
  padding: 100px;
  background-color: #292929;
}

/* 
**************************************** login.EJS file  ***************************************** */

.login_form_div {
  margin: 50px 0px 0px 120px;
  padding: 10px 0px 0px 0px;
}

.container h3 {
  margin: 0px 0px 10px 335px;
}

.login_form_div input {
  width: 75%;
}

.login_form_div label:after {
  content: " *";
  color: red;
}

.Login_Button {
  padding: 50px 0px 10px 10px;
}

.Login_Button button {
  width: 100px;
  text-align-last: center;
  margin: 0px 0px 0px 170px;
  background-color: #292929;
}

.Login_Button button:hover {
  background-color: #4d2727;
}

.req.flash_messages_div {
  width: 25%;
}

#show_password_image {
  position: relative;
  margin: -75px 0px -10px 360px;
}

.loginHeading {
  text-align: center;
}

/* 
**************************************** Home Page .EJS file  ***************************************** */

.homePage_Div {
  padding: 0px 0px 20px 0px;
}

.Homecontainer {
  width: 100%;
  margin: 50px 0px 0px 450px;
  text-align: justify;
  padding: 10px 0px 0px 0px;
}

.Homecontainer h3 {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

/* 
**************************************** Sign Up Page .EJS file  ***************************************** */

.signUP_text {
  margin: 50px 0px 10px 0px;
}

.navigationBar {
  width: 20%;
  float: right;
}

/* 
**************************************** User Profile Page .EJS file  ***************************************** */

.user_Profile {
  margin: 50px 0px 10px 0px;
}

#call_Center_info_div {
  margin: 20px 0px 40px 0px;
  text-align: justify;
}

.textArea_userProfile {
  padding: 30px;
  box-shadow: 3px 3px 10px gray;
}

.card-header {
  background-color: #ffffff !important;
  /* border: 1px solid #292929 !important; */
  /* box-shadow: 10px 10px #292929; */
}

.card-body h6 {
  padding: 10px;
  color: gray;
}

.textArea_box_card {
  box-shadow: 3px 3px 10px gray;
}

#call_center_name {
  float: left;
}

#edit_field_icon {
  padding: 10px;
  float: right;
}

.image_edit {
  width: 50%;
}

/* -------------------------Modal to edit the input fields--------------------------- */

#change_fieldsModal {
  align-items: center;
  margin: 150px 0px 0px 0px;
  width: 100%;
}

#change_input_user_profile_modalbody {
  padding: 30px;
}

#modal_save_btn {
  background-color: #279CD8 !important;
  color: #292929 !important;
  font-weight: 600;
}

#modal_save_btn:hover {
  color: #279CD8 !important;
  background-color: #292929 !important;
  font-weight: 600;
}

#modal_edit_btn {
  background-color: #279CD8 !important;
  color: #292929 !important;
  font-weight: 600;
}

#modal_edit_btn:hover {
  color: #279CD8 !important;
  background-color: #292929 !important;
  font-weight: 600;
}

#modal_close_btn:hover {
  background-color: #279CD8 !important;
  color: #292929 !important;
  font-weight: 600;
  border: 1px solid transparent;
}

#modal_close_btn {
  background-color: #292929 !important;
  color: #279CD8 !important;
  font-weight: 600;
  border: 1px solid transparent;
}

/* side by side div css */

/* .one {
  display: table;
}

.second {
  display: table-row;
}
.second h6 {
  display: table-cell;
} */

/* ----------------------Manage Access Tab ..... call_center_manage_DID_employees.EJS------------------------------ */

#manageAccess_table {
  margin: 20px 0px 40px 0px;
  text-align: justify;
  width: 110%;
}

.textArea_ManageAccess {
  padding: 30px;
  box-shadow: 3px 3px 10px gray;
}

#manage_Access_Table {
  width: 100%;
}

.number_Of_Cells {
  text-align: center;
  padding: 20px;
  margin: 0px 0px 20px 0px;
  box-shadow: 3px 3px 10px gray;
  float: right;
  width: 30%;
  display: inline;
}

.number_Of_Cells h5 {
  float: left;
}

#add_row_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}

#manage_did_access_modal {
  padding: 20px;
}

#manage_did_access_modal_body {
  padding: 30px;
  font-weight: 600;
}

#manage_did_access_modal_body small {
  font-size: small;
  font-style: italic;
  font-weight: 600;
}

#compaign_select_dropdown {
  font-weight: 500;
  width: 50%;
  /* float: right; */
}

/* ----------------------Manage Compaign.EJS------------------------------ */

#manage_compaign_Table {
  width: 100%;
}

#manageCompaign_div {
  margin: 20px 0px 40px 0px;
  text-align: justify;
  width: 100%;
}

/* ----------------------Manage Access to Employee.EJS------------------------------ */

#emp_compaign_select_dropdown {
  width: 50%;
}

#did_Number_select {
  visibility: hidden;
}

.selectDIV label {
  font-weight: 600;
}

#manageAccess_DID_Body {
  visibility: hidden;
}

#manageAccess_ofDID {
  width: 100%;
  margin: 15px 0px 0px 0px;
}

/* ------------------------------------ Employees Dashboard -------------------------------  */

.employeeDashboard {
  box-shadow: 3px 3px 10px gray;
  margin-bottom: 15px;
}

.employeeInfo {
  margin: 50px 25px 0px 0px;
}

.employeeInfo h5 {
  /* border-bottom: 1px solid; */
  font-size: large;
  font-weight: 600;
  margin-bottom: 15px;
}

.employeeInfo span {
  font-size: large;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: 15px;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.infooo {
  padding: 0% !important;
}

.dashboardHeading {
  padding: 10px;
  margin: 0px 0px 10px 0px;
  text-align: center;
  text-decoration: underline #292929;
}

.dashboardHeading h3 {
  margin: 30px 0px 0px 0px;
}

/* ------------------------------ Sales Details ------------------------------- */

#salesDetails {
  /* border: 2px solid #292929; */
  max-height: 450px;
  overflow-y: auto;
  padding: 10px;
  margin: 20px 0px 15px 0px;
  border-radius: 15px;
}

#salesTable ul {
  max-height: 450px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #272626; */
  border-radius: 5px;
  border-width: 100px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
  border-radius: 10px;
}

/* ------------------------------- Setting PopOver for the make call in employee makecall.ejs----------------------------------- */

#addContacts_BTN {
  margin-bottom: 30px;
  font-weight: 500;
}

#addContacts_BTN h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

.headingContactList {
  padding: 15px;
  box-shadow: 3px 3px 10px gray;
  margin-right: 10px !important;
}

.headingContactList h4 {
  float: left;
}

.headingContactList button {
  float: right;
  padding: revert;
  padding: 8px;
  margin: 0px 0px 0px 60px;
}

.customerDetails {
  box-shadow: 3px 3px 10px gray;
  padding: 15px;
  float: right;
}

#contactsOfCustomer a {
  float: left;
  background-color: #1a8731 !important;
  border-bottom: 1px solid #292929 !important;
  border-color: #292929;
}

.makeCallHeading h3 {
  padding: 10px;
  margin: 60px 0px 60px 0px;
  text-align: center;
  text-decoration: underline #292929;
}

#contactInfo {
  float: right;
  box-shadow: 2px 6px 10px grey;
  padding: 10px;
  opacity: 0.2;
}

#contactsOfCustomer {
  overflow-y: auto;
  float: left;
  padding: 10px;
  max-height: 550px;
  /* box-shadow: 0px 2px 4px grey; */
}

.timerCount {
  display: inline-block;
}

.timerCount span {
  float: right;
}

.counter {
  float: right;
  /* padding: 5px; */
}

.counter p {
  float: right;
  font-weight: 500;
}

.counter span {
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.timerCount h5 {
  float: left;
}

#heading_contactList {
  padding: 25px;
  margin-left: 0% !important;
}