<% include Web_Sections/header.ejs %>

<title>Call Center</title>
<div class="container col-lg-6 col-xl-6 col-md-6 col-sm-6">
    <h3>Welcome to Virtual Call Center</h3>
    <div class="align-content-center align-items-center">
    </div>
    <div class="homePage_Div">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
            recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
            provident ipsam voluptatum accusamus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
            recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
            provident ipsam voluptatum accusamus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
            recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
            provident ipsam voluptatum accusamus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
            recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
            provident ipsam voluptatum accusamus.</p>
    </div>
</div>

<% include Web_Sections/footer.ejs %>