<% include Web_Sections/header.ejs %>

<title>Call Center</title>
<!-- <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
    <div class="Homecontainer">
        <h3>Welcome to Virtual Call Center</h3>
        <div class="align-content-center align-items-center">
            <!-- calling the flash messa here  --
            <div class="col-lg-9 req.flash_messages_div">
                %- messages('Web_Sections/message.ejs',locals)  %>
            </div>
            <div class="homePage_Div">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
                    recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
                    provident ipsam voluptatum accusamus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
                    recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
                    provident ipsam voluptatum accusamus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
                    recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
                    provident ipsam voluptatum accusamus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
                    recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
                    provident ipsam voluptatum accusamus.</p>
            </div>
        </div>
    </div>
</div> -->
<div class="card textArea_box_card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est
            laborum.</p>
    </div>
</div>

<% include Web_Sections/footer.ejs %>