<% include Web_Sections/header.ejs %>
<title>Login</title>


<div class="col-6">
    <%- messages('Web_Sections/message.ejs',locals)  %>
    <div class="card" id="call_Center_info_div">
        <div class="textArea_userProfile">
            <h2 class="mb-4 loginHeading">Login</h2>
            <form action="/login_HomePage" method="GET">
                <div class="form-group">
                    <label for="user_login_email">Email address</label>
                    <input type="email" class="form-control" name="user_login_email" aria-describedby="emailHelp"
                        placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="user_login_password">Password</label>
                    <input type="password" class="form-control" name="user_login_password" placeholder="Password"
                        id="user_login_password" required> <img src="/images/show_password.png" width="20px"
                        height="20px" onclick="show_password()" id="show_password_image">
                </div>
                <div class="Login_Button">
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>




<% include Web_Sections/footer.ejs %>
<script>
    function show_password() {
        document.getElementById
        var x = document.getElementById("user_login_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

