<% include Web_Sections/header.ejs %>

<title>Call Center</title>
<div class="container col-lg-6 col-xl-6 col-md-6 col-sm-6">
    <h3>Sign Up</h3>
    <div class="align-content-center align-items-center">
    </div>
    <!-- calling the flash messa here  -->
    <div class="col-lg-9 req.flash_messages_div">
        <%- messages('Web_Sections/message.ejs',locals)  %>
    </div>
    <div class="homePage_Div">
        <div class="signUP_text">
            <h5>You can't Sign Up.</h5>
            <h5>If you want an account Please visit this page and ask the admin to provide you the credentials <a
                    href="http://localhost:1234/call_center"> here</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
                recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
                provident ipsam voluptatum accusamus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
                recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
                provident ipsam voluptatum accusamus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos distinctio nobis sed consequatur
                recusandae qui aliquam quibusdam aspernatur hic, repellendus inventore repellat eum maiores cum quam
                provident ipsam voluptatum accusamus.</p>
        </div>
    </div>
</div>

<% include Web_Sections/footer.ejs %>