<% include Web_Sections/header.ejs %>
<%- messages('Web_Sections/message.ejs',locals)  %>

<div class="selectDIV">
    <div class="row">
        <div class="col-lg-6" id="compaign_select">
            <label for="nameof_compaign">Compaign</label>
            <select type="text" class="form-control" id="nameof_compaign" aria-describedby="nameof_compaign"
                onchange="CompaignName_onchange_function(this.value)" required>
                <option value="0">Select Compaign</option>
                <% for(const element of response){ %>
                <option value="<%= element.dataValues.compaign_id %>">
                    <%= element.dataValues.compaign_name %></option>
                <% } %>
            </select>
        </div>
        <div class="col-lg-6 " id="did_Number_select">
            <label for="did_Number">DID Number</label>
            <select type="text" class="form-control" id="did_Number" aria-describedby="did_Number"
                onchange="didNumbers_onchange_function(this.value)" required>
                <option value="0">Select DID Number</option>

            </select>
        </div>
    </div>
</div>

<div id="response_alert">

</div>

<div class="card" id="manageAccess_ofDID">
    <div class="textArea_ManageAccess">
        <table class="table" id="manage_Access_Table_id">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Timing</th>
                    <th scope="col">Current Status</th>
                    <th scope="col">Access</th>
                    <th scope="col">Pause</th>

                </tr>
            </thead>
            <tbody id="manageAccess_DID_Body">

            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manage_did_access_modal" tabindex="-1" role="dialog"
    aria-labelledby="manage_did_access_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="manage_did_access_modal_body">
                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="emp_fullname">Full Name</label>
                                <input type="text" class="form-control" id="emp_fullname">
                                <small>e.g John Smith</small>
                            </div>
                            <div class="form-group">
                                <label for="emp_username">Username</label>
                                <input type="text" class="form-control" id="emp_username">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="emp_email">Email address</label>
                                <input type="email" class="form-control" id="emp_email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="emp_password">Password</label>
                                <input type="text" class="form-control" id="emp_password">
                                <small>Password must contain 8 characters.</small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="emp_role">Role</label>
                                <input type="text" class="form-control" id="emp_role" aria-describedby="emp_role">
                                <small>e.g CRS, Lead Manager</small>
                            </div>
                            <div class="form-group">
                                <label for="emp_timing">Timing</label>
                                <input type="text" class="form-control" id="emp_timing">
                                <small>e.g Part , Full Time</small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="emp_salary">Salary</label>
                                <input type="number" class="form-control" id="emp_salary" aria-describedby="emp_salary">
                            </div>
                            <div class="form-group">
                                <label for="emp_commission">Commission</label>
                                <input type="text" class="form-control" id="emp_commission">
                                <small>e.g 1% , 5%</small>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="emp_target">Target</label>
                                <input type="text" class="form-control" id="emp_target" aria-describedby="emp_target">
                                <small>e.g 10, 15</small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark " data-dismiss="modal" id="modal_close_btn">Close</button>

                <button type="button" class="btn btn-primary" id="modal_edit_btn">Edit</button>
                <button type="button" class="btn btn-primary" id="modal_save_btn" onclick="add_Employee()">Add</button>
            </div>
        </div>
    </div>
</div>

<script>
    var response = JSON.parse('<%-JSON.stringify(response)%>')
</script>


<script src="http://localhost:22001/socket.io/socket.io.js"></script>
<script>
   var socket = io()
    function alert_Fade(name_of_alert) {
        $(`#${name_of_alert}_alert`).fadeTo(1500, 500).slideUp(500, function () {
            $(`#${name_of_alert}_alert`).slideUp(500);
        });
    }

    function refresh_Modal() {

        $('#manage_did_access_modal').fadeIn(100)
        $('#manage_did_access_modal').modal('hide')
        setTimeout(function () {
            $('#manageAccess_ofDID').fadeOut(3000, function () {
                location.reload(true);
            })
        })
    }

    // <!-- this is the responsible for select of Compaign and DID number and also 
    // for the table displaying of data -->


    var did_select = document.getElementById('did_Number'),
        tableName = document.getElementById('manage_Access_Table_id'),
        table_Body_var = document.querySelector("#manage_Access_Table_id > tbody")
    /**
     * The function is onchange of the select of the compaign 
     * this function will get the value of the option which is the compaign id
     * and it will display the select DID option and 
     * then it will went inside the response of the server and look for the compaign id
     * it will then display the all DIDs which the compaign is currently using present in the DB...
    */
    function CompaignName_onchange_function(value) {
        $('#did_Number option[value!="0"]').remove();
        // deleting the tables rows
        console.log(value);
        $("#manage_Access_Table_id").find("tr:not(:nth-child(1)):not(:nth-child(2))").remove();
        if (value != 0) {
            $('#did_Number_select').css('visibility', 'visible')
            response.forEach(element => {
                element.did_Number_Info_modals.forEach(el => {
                    if (el.compaign_id == value) {
                        var new_option = document.createElement('option')
                        //inserting value and text to the option which will be used in the below function
                        new_option.text = el.did_Num_number
                        new_option.value = el.did_Num_id
                        //adding the newly created option to the select DID tag...
                        did_select.add(new_option)
                    }
                })
            })
        }
        else {
            $('#did_Number_select').css('visibility', 'hidden');
            $('#manageAccess_DID_Body').css('visibility', 'hidden');
        }
    }




    /**
    * This is same as above 
    * it will get the DID id from the option, that is inserted in the above function
    * it will display the select DID option and 
    * then it will went inside the response of the server and look for the compaign id
    * it will then display the all DIDs which the compaign is currently using present in the DB...
    */


    function didNumbers_onchange_function(value) {
        $("#manage_Access_Table_id").find("tr:not(:nth-child(1)):not(:nth-child(2))").remove();
        if (value != 0) {

            $('#manageAccess_DID_Body').css('visibility', 'visible')
            response.forEach(element => {
                element.call_cent_employees.forEach(el => {

                    if (el.did_Num_id == value) {

                        var newtrrrrr = document.createElement('tr'),
                            newtd = document.createElement('td'),
                            newtd1 = document.createElement('td'),
                            newtd2 = document.createElement('td'),
                            newtd3 = document.createElement('td'),
                            newtd4 = document.createElement('td'),
                            newtd5 = document.createElement('td'),
                            newtd6 = document.createElement('td'),
                            newtd7 = document.createElement('td')


                        newtd.innerHTML = el.emp_fullName
                        newtd1.innerHTML = el.emp_email
                        newtd2.innerHTML = el.emp_username
                        newtd3.innerHTML = el.emp_role
                        newtd4.innerHTML = el.emp_timing
                        /**
                         * this will check if the employee in the compaign 
                         * and with the same did number which alot to him 
                         * and will check the status of the emp_isPaused === true
                         * then it will add Pause button only 
                         * and if it false then it will add Allow button
                        */
                        if (el.emp_isPaused) {
                            newtd5.innerHTML = "Working"
                            newtd5.style.color = "Green"
                            newtd5.style.fontWeight = 600
                            newtd7.innerHTML = `<button class="btn btn-danger" id="${el.emp_isPaused}" value="${el.emp_email}" onclick ="allow_btn_onclick(this.value,${el.emp_isPaused})">Pause</button>`
                        }

                        else {
                            newtd5.innerHTML = "Pause"
                            newtd5.style.color = "Red"
                            newtd5.style.fontWeight = 600
                            newtd6.innerHTML = `<button class="btn btn-success" id="${el.emp_isPaused}"  value="${el.emp_email}" onclick ="allow_btn_onclick(this.value,${el.emp_isPaused})">Allow</button>`
                        }
                        newtrrrrr.append(newtd, newtd1, newtd2, newtd3, newtd4, newtd5, newtd6, newtd7)
                        tableName.append(newtrrrrr)

                    }
                })
            })
        }
        else {
            $("#manage_Access_Table_id").find("tr:not(:nth-child(1)):not(:nth-child(2))").remove();
            $('#manageAccess_DID_Body').css('visibility', 'hidden');
        }
    }





    function allow_btn_onclick(emp_email, booleanValue) {


        var compaign_id = $('#nameof_compaign').find(":selected").val(),
            did_Num_id = $('#did_Number').find(":selected").val()

        $.ajax({
            url: '/toggle_access_of_DID_for_Employees',
            type: 'POST',
            data: { emp_email, booleanValue: !booleanValue, compaign_id, did_Num_id },
            error: ((error) => {
                $('#response_alert').addClass('alert alert-danger')
                $('#response_alert').html('Oops! Sorry. There is an error')
                alert_Fade('response')
                refresh_Modal()
            }),
            success: ((ajaxResult) => {
                // start of the real time notification
                //sending the real time notification to the employee to whome the access is given
             
                socket.emit("DID_Access_granted", { to: emp_email, status: booleanValue })
                // end of the real time notification
                $('#response_alert').addClass('alert alert-success')
                $('#response_alert').html('Successfully! Access is Given')
                alert_Fade('response')
                refresh_Modal()
            })
        })

    }

</script>




<% include Web_Sections/footer.ejs %>