<% include Web_Sections/header.ejs %>


<div class="number_Of_Cells">
    <h5>Total Call Back Number<h5 id="total_number_Of_Callback"> : <%=number%></h5>
    </h5>
</div>

<div class="card" id="manageAccess_table">
    <div class="textArea_ManageAccess">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name of Employee</th>
                    <th scope="col">DID Number</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Access</th>
                    <th scope="col">Denied</th>

                </tr>
            </thead>
            <tbody id="manageAccess_Body">
                <tr>
                    <th scope="row">Saad</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">James</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">Larry</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>the Bird</td>
                    <td>the Bird</td>
                </tr>

            </tbody>

        </table>
        <img src="/images/User_Profile_icons/add.png"  id="add_row_icon">

        <!-- <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>


<!-- 
<script>
    alert($('#manageAccess_Body tr').length)
</script> -->















<% include Web_Sections/footer.ejs %>