<% include Web_Sections/header.ejs %>
<title>Change Password</title>
<h2 class="mb-4">Change Password</h2>

<div class="col-lg-6">
    <div id="alert">

    </div>
    <%- messages('Web_Sections/message.ejs',locals)  %>
    <div class="card" id="call_Center_info_div">
        <div class="textArea_userProfile">
            <form id="change_PasswordForm" onchange="onchange_Input_fields()">
                <div class="form-group">
                    <label for="change_new_password">New Password</label>
                    <input type="password" class="form-control" name="change_new_password"
                        placeholder="Enter New Password" required>
                </div>
                <div class="form-group">
                    <label for="change_confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" name="change_confirm_password"
                        placeholder="Enter Confirm Password" required>
                </div>

                <div class="Login_Button">
                    <button class="btn btn-dark" name="change_Password_btn">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- script tag which is used to for the ajax call -->

<script>
    function alert_Fade() {
        $("#alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#alert").slideUp(500);
        });
    }

    function checkInput_Length(new_Password, confirm_Password) {
        if (new_Password.length < 8) {
            if (confirm_Password.length < 8) {
                $('#alert').addClass('alert alert-danger')
                $('#alert').html('Password Length should be greater & equal to 8')
                alert_Fade()
                return false
            }
        }
        return true

    }

    function validate_NewPassword() {
        const change_new_password = document.getElementsByName('change_new_password')[0],
            change_confirm_password = document.getElementsByName('change_confirm_password')[0]
        if (checkInput_Length(change_new_password.value, change_confirm_password.value)) {
            if (change_new_password.value === change_confirm_password.value)
                return true
            else
                return false
        }
        else
            return false
    }

    function onchange_Input_fields() {

        // on correct values of the change password inputs the border turn green 
        if (validate_NewPassword()) {
            document.getElementsByName('change_new_password')[0].style.borderColor = '#8ceb66'
            document.getElementsByName('change_confirm_password')[0].style.borderColor = '#8ceb66'
            document.getElementsByName('change_Password_btn')[0].disabled = false
        }
        else {
            document.getElementsByName('change_new_password')[0].style.borderColor = '#e69696'
            document.getElementsByName('change_confirm_password')[0].style.borderColor = '#e69696'
            document.getElementsByName('change_Password_btn')[0].disabled = true

        }
    }
    $('#change_PasswordForm').submit((e) => {
        e.preventDefault()
        e.stopPropagation()

        $.ajax({
            url: '/change_User_Passowrd/:<%= user_id %>',
            type: 'POST',
            cache: false,
            data: { 'new_Password': document.getElementsByName('change_new_password')[0].value },
            error: ((err) => {

            }),
            success: ((response) => {
                $('#alert').addClass(`alert alert-${response.type} `)
                $('#alert').html(response.message)

            })
        })


        // $.ajax({
        //     url: '/abc',
        //     // method: 'PUT',
        //     type: 'PUT',
        //     cache: false,
        //     data: {
        //         "new_Password": document.getElementsByName('change_new_password')[0].value
        //     },
        //     error: ((err) => {

        //     }),
        //     success: ((response) => {
        //         alert(response)
        //     })
        // })




    })

</script>
<% include Web_Sections/footer.ejs %>
<!-- efe6582c-0250-45ad-bae0-d66f486b6209 -->