<% include Web_Sections/header.ejs %>
<%- messages('Web_Sections/message.ejs',locals)  %>

<div class="col-lg-8 col-md-8 text-center px-auto mx-auto mb-5 mt-5 px-5 border-bottom border-primary">
    <h1 class="display-4">Create Your Own Avatar</h1>
</div>

<div class="container-fluid  mx-auto px-auto col-md-12 col-lg-12">
    <div class="container-fluid col-md-6 col-lg-6 px-auto mx-auto float-left btn-group-vertical">
        Select Your Compaign:
        <select name="" class="form-control mt-3" id="">
            <option class="form-group" value="">Hello</option>
            <option value="">Hello</option>
            <option value="">Hello</option>
            <option value="">Hello</option>
            <option value="">Hello</option>
        </select>

    </div>
</div>

<% include Web_Sections/footer.ejs %>