<% include header.ejs %>

<div class="container">
    <div class="content">
        <%- messages('Web_Sections/message.ejs',locals)  %>
    </div>
    <h5><%=error.status  %> </h5>
</div>

<% include footer.ejs %>