<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/Design.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="/Javascript/jquery-3.5.1.js"></script>
</head>

<body>
    <div class="wrapper fixed d-flex align-items-stretch">
        <% if(user != 'not logged In') {%>
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <% if(user.emp_profile_pic){ %>
                <a class="img logo rounded-circle mb-5" style="background-image: url(<%=user.emp_profile_pic%>);"></a>
                <% }else{ %>
                <a class="img logo rounded-circle mb-5" style="background-image: url(/images/no-image.png);"></a>
                <% } %>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="/emp/edashboard">My Dashboard</a>
                    </li>
                    <li>
                        <a href="/emp/empSales">Sales</a>
                    </li>
                    <li>
                        <a href="/emp/makeCall">Make Call</a>
                    </li>
                    <li>
                        <a href="/emp/uploadProfileImage">Upload Profile Image</a>
                    </li>

                </ul>
            </div>
        </nav>
        <% } %>

        <% if( makeCallStatus){ %>

        <nav id="sidebar" class="buttons_of_avatar position-absolute px-auto">
            <div class="p-4 pt-5 buttons_of_Avatar">

                <% avatar.forEach(element => {%>
                <%=element.avatarCategory_name %>:
                <div class="container px-auto col-md-12  success-btns ">
                    <% element.avatar_button_modals.forEach(elements => {%>
                    <button type="button" class="btn btn-warning"
                        onclick="speakTEXT(this.innerHTML)"><%=elements.btn_text %></button>
                    <% }); %>
                </div>
                <% }); %>
            </div>
        </nav>

        <% } %>


        <!-- Main logo of the Call center -->
        <img src="/images/logo.png" alt="Main Logo" id="mainLogo">

        <div id="content" class="p-4 p-md-5 col-lg-7">

            <nav class="navbar navbar-expand-md navbar-light">

                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <% if(user == 'not logged In'){ %>
                            <li class="nav-item">
                                <a class="nav-link" href="/emp/elogin">Login</a>
                            </li>
                            <% } %>
                            <% if(user != 'not logged In') {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/emp/elogout">Log Out</a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>

            <script src="http://localhost:22001/socket.io/socket.io.js"></script>
            <script>
                var socket = io()
                socket.on('DID_Access_granted', (data) => {

                    console.log(data);
                    if (data.status) {
                        $('#modalImage').attr('src', '/employees/profile_pictures/1.jpg')
                        $('#adminResponse').modal('show')
                    } else {
                        $('#modalImage').attr('src', '/images/logo.png')
                        $('#adminResponse').modal('show')
                    }
                })
            </script>


            <div class="modal" tabindex="-1" id="adminResponse">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="" class="rounded" alt="Status" id="modalImage">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>